In [16]:
import pandas as pd
import numpy as np

In [28]:
data = [
    
    {"timestamp": "2024-06-06T12:00:00Z", "price":""},
    {"timestamp": "2024-06-06T12:01:00Z", "price": 141.20},
    {"timestamp": "2024-06-06T12:02:00Z", "price": 139.80}
    # More documents...
]
df = pd.DataFrame(data)
df.loc[df['price']==""]
df.replace("", np.nan, inplace=True)
df.dropna(inplace = True)
df

              timestamp  price
1  2024-06-06T12:01:00Z  141.2
2  2024-06-06T12:02:00Z  139.8

In [20]:
data = {
    "tanggal": [1,2,3,4,5],
    "harga": [10,20,30,40,50]
}
pd.DataFrame(data)

   tanggal  harga
0        1     10
1        2     20
2        3     30
3        4     40
4        5     50